image: Visual Studio 2017

build:
  verbosity: minimal

build_script:
  -cmd : msbuild /t:restore;build /p:Configuration=Release /m .\NuGetOffline.sln

artifacts:
- path: bin\Release\NuGetOffline
  name: drop